<link rel="stylesheet" href="/css/mensaje.css">
<link rel="stylesheet" href="/css/Fondo.css">
{{> navigationTrabajador}}
<div class="imagenActivos"></div>
{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="=alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="container p-4">
    <div class="row">
        {{#each labores}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{nombre_labor}}
                    </h3>
                    <p class="m-2">Precio por hora: ${{FormatPrice precioxhora}}</p>
                    <a href="/trabajador/borrar-labor/{{id_traba}}" class="btn btn-danger">Borrar</a>
                    <a href="/trabajador/editar-labor/{{id_traba}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="tarjeta_mensaje card-body text-center">
                <p>No tienes ninguna labor asociada.</p>
                <a href="/trabajador/addLabor">¡Añade una!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>