<link href="/css/registro.css" rel="stylesheet">
{{> navigationTrabajador}}
{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="=alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if message}}
<div class="container p-2">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="row no-gutters bg-dark">
    <div class="col-xl-5 col-lg-12 register-bg">
        <div class="opaco"></div>

    </div>
    <div class="col-xl-7 col-lg-12 d-flex">
        <div class="container align-self-center p-6">
            <h1 class="font-weight-bold mb-3">Perfil público</h1>
            <hr width="100%" style="border-color:black">

            <form action="/trabajador/perfil" method="POST">

                <div class="form-row mb-2">

                    <div class="form-group col-md-7">
                        <label class="font-weight-bold">Nombre </label>
                        <input type="text" class="form-control" name="trabajador_nombre" autocomplete="off" required
                            pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$"
                            oninvalid="this.setCustomValidity('Solo se permiten letras')"
                            oninput="setCustomValidity('')" value="{{employee.trabajador_nombre}}">
                    </div>

                    <div class="form-group col-md-5">
                        <label>Fecha de nacimiento</label>
                        <input type="text" name="trabajador_fechaNacimiento" class="form-control" required
                            value="{{employee.trabajador_fechanacimiento}}" disabled>
                    </div>

                </div>

                <div class="form-group mb-3">
                    <label>Dirección</label>
                    <input type="text" class="form-control" id="search_input" name="trabajador_direccion"
                        oninput="setCustomValidity('')" required value="{{employee.direccion_address}}">
                    <input type="hidden" name="trabajador_latitud" id="latitude"
                        value="{{employee.direccion_latitud}}" />
                    <input type="hidden" name="trabajador_longitud" id="longitude"
                        value="{{employee.direccion_longitud}}" />
                    <input type="hidden" name="trabajador_localidad" id="localidad"
                        value="{{employee.direccion_localidad}}" />
                </div>

                <div class="form-row mb-2">

                    <div class="form-group col-md-7">
                        <label>No. Documento</label>
                        <input type="text" class="form-control" name="id_trabajador" required
                            value="{{employee.id_trabajador}}" disabled>
                    </div>

                    <div class="form-group col-md-5">
                        <label class="font-weight-bold">Usuario</label>
                        <input type="text" class="form-control" name="trabajador_username" autocomplete="off" required
                            value="{{employee.trabajador_username}}">
                    </div>

                </div>

                <label>Documento</label><br>
                <input type="file" id="doc_uploader"><br><br>
                <input type="hidden" id="documento" name="trabajador_documento"
                    value="{{employee.trabajador_documento}}">
                <div class="card" id="espacio_documento">
                    <img src="{{employee.trabajador_documento}}" id="doc_preview">
                </div>

                <label>Foto de perfil</label><br>
                <input type="file" id="img_uploader"><br><br>
                <input type="hidden" id="foto" name="trabajador_foto" value="{{employee.trabajador_foto}}">
                <div class="card" id="espacio_foto">
                    <img src="{{employee.trabajador_foto}}" id="img_preview">
                </div>

                <button class="btn btn-primary width-100"><i class="fas fa-user-edit"></i> Actualizar perfil</button>
            </form>
            <br>
            <h1 class="font-weight-bold mb-3">Cambiar contraseña</h1>
            <hr width="100%" style="border-color:black">
            <form action="/trabajador/set-passoword" method="POST">
                <div class="form-row mb-3">

                    <label class="font-weight-bold">Contraseña antigua</label>
                    <input type="password" class="form-control" name="old_password" autocomplete="off" required>

                </div>
                <div class="form-row mb-3">

                    <label class="font-weight-bold">Contraseña nueva</label>
                    <input type="password" class="form-control" name="new_password" id="newP" autocomplete="off"
                        required>

                </div>
                <div class="form-row mb-3">

                    <label class="font-weight-bold">Repetir contraseña </label>
                    <input type="password" class="form-control" id="reP" autocomplete="off" required
                        onchange="comparar()" oninput="setCustomValidity('')">
                </div>
                <button class="btn btn-primary width-100"><i class="fas fa-lock"></i> Actualizar contraseña</button>
            </form>
            <br>
            <h1 class="font-weight-bold mb-3">Borrar cuenta</h1>
            <hr width="100%" style="border-color:black">
            <p class="text-muted">Una vez que elimine su cuenta, no hay vuelta atrás. Por favor, esté seguro.</p>
            <a href="/trabajador/borrar-cuenta" class="btn btn-danger width-100"><i class="fas fa-user-times"></i>
                Eliminar cuenta</i></a>
            <small class="d-inline-block text-muted mt-5">© Mande Corp 2020</small>
        </div>
    </div>
</div>

<script>
    // DIRECCIÓN
    var searchInput = 'search_input';

    var componentForm = {
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name'
    };

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)),
            {
                types: ['geocode']
            });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            var all = "";
            try {
                document.getElementById('latitude').value = near_place.geometry.location.lat();
                document.getElementById('longitude').value = near_place.geometry.location.lng();
                for (var i = 0; i < near_place.address_components.length; i++) {
                    var addressType = near_place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = near_place.address_components[i][componentForm[addressType]];
                        all = all.concat(" ", val);
                    }
                }
                document.getElementById('localidad').value = all;
            } catch (error) {
                document.getElementById('search_input').setCustomValidity("Dirección inválida");
            }
        });
    });

    $(document).on('change', '#' + searchInput, function () {
        document.getElementById('latitude').value = '';
        document.getElementById('longitude').value = '';
    });

    // FOTO
    const imagePreview = document.getElementById('img_preview');
    const imageUploader = document.getElementById('img_uploader');

    const CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/mattezl/image/upload';
    const CLOUDINARY_UPLOAD_PRESET = 'bz4oq8ph';

    imageUploader.addEventListener('change', async (e) => {
        const file = e.target.files[0];

        const formData = new FormData();
        formData.append('file', file);
        formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);
        const res = await axios.post(CLOUDINARY_URL, formData,
            {
                headers:
                {
                    'Content-Type': 'multipart/form-data'
                }
            });
        console.log(res);
        imagePreview.src = res.data.secure_url;
        document.getElementById('foto').value = res.data.secure_url;

    });

    // DOCUMENTO
    const docPreview = document.getElementById('doc_preview');
    const docUploader = document.getElementById('doc_uploader');

    docUploader.addEventListener('change', async (e) => {
        const file = e.target.files[0];

        const formData = new FormData();
        formData.append('file', file);
        formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);
        const res = await axios.post(CLOUDINARY_URL, formData,
            {
                headers:
                {
                    'Content-Type': 'multipart/form-data'
                }
            });
        console.log(res);
        docPreview.src = res.data.secure_url;
        document.getElementById('documento').value = res.data.secure_url;
    });

    //COMPARAR CONTRASEÑAS
    const newPass = document.getElementById('newP');
    const repPass = document.getElementById('reP');
    function comparar() {
        if (newP.value != repPass.value) {
            repPass.setCustomValidity('Las contraseñas no coinciden');
        }
    };
</script>