<link rel="stylesheet" href="/css/mensaje.css">
<link rel="stylesheet" href="/css/Fondo.css">
<link rel="stylesheet" href="/css/pendientes.css">
{{> navigationTrabajador}}
<div class="imagenActivos">

</div>
{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="=alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}
<div class="container p-4">
    <div class="row">
        {{#each servicios}}

        <div class="labores-container">
            <div class="labor">
                <div class="labor-preview">
                    <h6>Labor:</h6>
                    <h2>{{nombre_labor}}</h2>
                    <br>
                    <h2><b>Pago pendiente</b></h2>

                </div>
                <div class="labor-info">
                    <h2><b>Descripcion:</b> {{servicio_descipcion}} </h2>

                    <h2><b>Fecha de inicio: </b>{{formatearFecha servicio_inicio}}. <b>Fecha de culminacion:
                        </b>{{formatearFecha servicio_final}} </h2>

                    <h2><b>Cliente:</b> {{usuario_nombre}}</h2>
                    <h2><b>Valor a pagar:</b> ${{formatearPrecio pago_valor}}</h2>

                    <br>


                </div>

            </div>
        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="tarjeta_mensaje card-body text-center">
                <p>No tienes ningun trabajo sin pagar en este momento.</p>
                <a href="/trabajador/addLabor">¡Añade otro ya!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>