<link rel="stylesheet" href="/css/mensaje.css">
<link rel="stylesheet" href="/css/Fondo.css">
<link rel="stylesheet" href="/css/labores.css">
{{> navigationTrabajador}}
<div class="imagenActivos">

</div>
{{#if success}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="=alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>  
    </div>
    {{/if}}
<div class="container p-4">
    <div class="row">
        {{#each servicios}}
        
<div class="labores-container">
	<div class="laborDos">
		<div class="labor-preview">
            <br>
			<h6>Labor:</h6>
			<h2>{{nombre_labor}}</h2>
			
		</div>
		<div class="labor-info">
      <h2>Cliente: {{usuario_nombre}}</h2>
      <h2>Descripcion: {{servicio_descipcion}}</h2>
      <h2>Fecha de activacion:  {{NormalDate servicio_inicio}}</h2>
      <br>
		<a href="/trabajador/detalles/{{id_servicio}}" class="btn btn-primary">Detalles</a>
                    <a href="/trabajador/culminar-trabajo/{{id_servicio}}/{{nombre_labor}}" class="btn btn-success">Culminar</a>
					
		</div>
		
	</div>
</div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="tarjeta_mensaje card-body text-center">
                <p>No tienes ningun trabajo activo en este momento.</p>
                <a href="/trabajador/addLabor">¡Añade otro ya!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>