<link rel="stylesheet" href="/css/Tarjetas.css">
<link rel="stylesheet" href="/css/Fondo.css">
 <div class="imagenActivos"></div>
{{> navigationUser}}
{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="=alert">
                {{success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="container">
    <div class="row">
        <div class="cards">
            {{#each servicios}}
            <div class="card">
                <div class="card__image-holder">
                    <img src={{trabajador_foto}} class="card__image" />
                </div>
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                     <h2>
                        {{trabajador_nombre}}
                       
                        <br>
                        <small> {{nombre_labor}}</small>
                    </h2>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">

                        <h3>
                            Fecha de inicio: {{NormalDate servicio_inicio}}
                        </h3>

                        <h3>
                        Fecha de culminación: {{NormalDate servicio_final}}
                        </h3>
                        
                        <h3>
                        Fecha de pago: {{NormalDate pago_fecha}}
                        </h3>

                        <h3>
                            Costo: ${{pago_valor}}
                        </h3>

                        <h3>
                            Calificacion: {{servicio_calificacion}} ✩
                        </h3>

                        <h3>
                            Descripcion: {{servicio_descipcion}}
                        </h3>



                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="#" class="btn">Leer menos</a>
                        </div>
                    </div>
                </div>
            </div>
        


        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tienes ningun pago pendiente en este momento.</p>
                <a href="/usuario/tipo-servicio">¡Solicita un servicio!</a>
            </div>
        </div>
        </div>
        {{/each}}
    </div>
</div>


<script src="/js/Tarjetas.js"></script>