{{> navigationUser}}
<link rel="stylesheet" href="/css/Fondo.css">
<link rel="stylesheet" href="/css/mensaje.css">
<link rel="stylesheet" href="/css/Tarjetas.css">

 <div class="imagenActivos"></div>

<div class="container">
    <div class="row">
        <div class="cards">
            {{#each servicios}}
            <div class="card">
                <div class="card__image-holder">
                    <img src={{trabajador_foto}} class="card__image" />
                </div>
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        {{trabajador_nombre}}
                       
                        <br>
                        <small> {{nombre_labor}}</small>
                    </h2>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">

                        <h3>
                            Descripcion: {{servicio_descipcion}}
                        </h3>

                        <h3>
                            Fecha de inicio: {{NormalDate servicio_inicio}}
                        </h3>

                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="#" class="btn">Leer menos</a>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
        
        <div class="col-md-4  mx-auto">
            <div class="tarjeta_mensaje card-body bg-light mb-3 text-center">
                <p>No tienes ningun servicio activo en este momento.</p>
                <a href="/usuario/tipo-servicio">¡Solicita uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/Tarjetas.js"></script>