<link rel="stylesheet" href="/css/Tarjetas.css">
<link rel="stylesheet" href="/css/Fondo.css">
<div class="imagenActivos">

</div>
{{> navigationUser}}
<div class="container">
    <div class="row">
        <div class="cards">
        {{#each trabajadores}}
        

    <div class="card">
        <div class="card__image-holder">
            <img src={{trabajador_foto}}>
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>
            {{trabajador_nombre}}
            </h2>
            
        </div>
        <div class="card-flap flap1">
            <div class="card-description">

                
                <h3>
                    Precio U/H : {{precioxhora}}$
                </h3>
                <h3>
                    Calificacion : {{promedio}} ✩
                </h3>
                <h3>
                A {{Dist direccion_latitud direccion_longitud ../userUbication.direccion_latitud ../userUbication.direccion_longitud}}
                km's de ti
                </h3>

            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="/usuario/trabajador-perfil/{{id_trabajador}}/{{nombre_labor}}/{{../servicio_descipcion}}" class="btn">Ver perfil</a>
                    <a href="/usuario/contratar-trabajador/{{id_trabajador}}/{{nombre_labor}}/{{../servicio_descipcion}}" class="btn">Contratar</a>
                </div>
            </div>
        </div>
    </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card-message card-body text-center">
                <p>Por el momento no tenemos trabajadores que presenten ese servicio</p>
                <a href="/usuario/tipo-servicio">¡Selecciona otro!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!DESCRIPCIÓN DEL TRABAJO}}
<input type="hidden" value="{{servicio_descipcion}}" name="servicio_descipcion">

{{!COORDENADAS DEL USUARIO}}
<input type="hidden" value="{{userUbication.usuario_latitud}}" id="usuario_latitud" name="usuario_latitud">
<input type="hidden" value="{{userUbication.usuario_longitud}}" id="usuario_longitud" name="usuario_longitud">

<script type="text/javascript">

    var latU = parseFloat(document.getElementById('usuario_latitud').value);
    var lonU = parseFloat(document.getElementById('usuario_longitud').value);

</script>

<script src="/js/Tarjetas.js"></script>