<link rel="stylesheet" href="/css/perfil.css">
{{> navigationUser}}

<div class="perfil">
  
    
      
      <a href="#"><img src={{trabajador.trabajador_foto}} width="180" height="230" alt="cover" class="fotoTrabajador" /></a>
          
      <div class="mapa"> <div id="map"></div>
              
        <div class="details">
        
           
          
        </div> 
        
      </div>
      
      <div class="description">
        
        <div class="column1">
            <br>
          <h1>{{trabajador.trabajador_nombre}} </h1>
          <br>
          <a href="/usuario/contratar-trabajador/{{trabajador.id_trabajador}}/{{nombre_labor}}/{{servicio_descipcion}}"
                            class="btn btn-success">Contratar</a> 

                            <a href="#" onclick="volver()" class="btn btn-danger" >Volver </a>
          
          
        </div> 
        
        <div class="column2">
            
  
          <div class="title1">Descripcion como: {{nombre_labor}}</div>   
         <div class="title2">edad:<a class="m-2" id="age"> años </div>   
         <div class="title2">Distancia: A {{Dist trabajador.direccion_latitud trabajador.direccion_longitud userUbication.direccion_latitud userUbication.direccion_longitud}} de ti</div>   
         <div class="title2">Experiencia como {{nombre_labor}}: {{trabajador.trabajoshechos}} trabajos realizados con éxito </div>   
         <div class="title2">Calificacion: {{trabajador.promedio}} *</div>   

        </div> 
      </div> 
      
  
  </div> 

<input type="hidden" value="{{trabajador.trabajador_fechanacimiento}}" id="birth">

<input type="hidden" value="{{trabajador.direccion_latitud}}" id="latT">
<input type="hidden" value="{{trabajador.direccion_longitud}}" id="lonT">

<script>
    //COORDENADAS DEL TRABAJADRO
    var latT = parseFloat(document.getElementById('latT').value);
    var lonT = parseFloat(document.getElementById('lonT').value);
    var coordT = { lat: latT, lng: lonT };

    window.onload = function loadMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: coordT
        });
            var marker = new google.maps.Marker({
            position: coordT,
            map: map
        });

        // CALCULAR EDAD
        var birth = new Date(document.getElementById("birth").value);
        var birthYear = birth.getFullYear();
        var birthMonth = birth.getMonth();

        var today = new Date();
        var currentYear = today.getFullYear();
        var currentmonth = today.getMonth();
        if(currentmonth>birthMonth)
        {
            document.getElementById("age").innerText=(currentYear-birthYear);
        }else{
            document.getElementById("age").innerText=(currentYear-birthYear)-1;
        }
    }          

    //VOLVER A LA LISTA LOS TRABAJADORES
    function volver() {
        window.history.back();
    }
</script>