<div class="container p-4">
    <div class="row">
        {{#each trabajadores}}
        <div class="text-center">
            <img src={{trabajador_foto}} class="rounded mx-auto d-block " width="130" height="130"><br>
            <h3 class="card-title text-uppercase">
                {{trabajador_nombre}}
            </h3>
            <a href="" class="btn btn-success">Contratar</a>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <p id="distancia" onchange="Dist({{userUbication.usuario_latitud}},{{userUbication.usuario_longitud}},{{trabajador_latitud}},{{trabajador_longitud}}"></p>
                    <p class="m-2">Califiación: <br> {{trabajador_puntaje}} ★</p>
                    <p class="m-2">Precio por hora: <br> {{precioxhora}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    //Dist({{userUbication.usuario_latitud}},{{userUbication.usuario_longitud}},{{trabajador_latitud}},{{trabajador_longitud}})
    function Dist(lat, lon) {
        rad = function (x) { return x * Math.PI / 180; }

        var R = 6378.137;                          //Radio de la tierra en km
        var dLat = rad(lat2 - lat1);
        var dLong = rad(lon2 - lon1);

        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(rad(lat1)) * Math.cos(rad(lat2)) * Math.sin(dLong / 2) * Math.sin(dLong / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        d.toFixed(3);                      //Retorna tres decimales

        document.getElementById()
    }

    window.addEventListener
</script>