<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/estrellas.css">
{{> navigationUser}}
{{#if success}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="=alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>  
    </div>
    {{/if}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <h3><b>{{servicio.nombre_labor}}</b></h3>
                </div>
                <div class="card-body">
                    <p class="m-2"><b>Trabajador:</b> <br>{{servicio.trabajador_nombre}}</p>
                    <p class="m-2"><b>Descripción:</b><br>{{servicio.servicio_descipcion}}</p>
                    <p class="m-2"><b>Fecha de inicio:</b> <br>{{servicio.servicio_fecha}}</p>
                    <p class="m-2"><b>Fecha de culminación:</b> <br>{{servicio.pago_fecha}}</p>
                    <p class="m-2"><b>Valor:</b> {{servicio.pago_valor}}</p>
                   
                    <form action="/usuario/pagar-servicio/{{servicio.id_servicio}}/{{servicio.id_pago}}/{{servicio.trabajador_id}}"
                        method="POST">

                        
                     <div class="rating-box">
                     
                     <div class="ratings" >
                         <span class="far fa-star"></span>
                         <span class="far fa-star"></span>
                         <span class="far fa-star"></span>
                         <span class="far fa-star"></span>
                         <span class="far fa-star"></span>
                         <br>
                     </div>
                        <p class="m-2"><b>Calificación:  <input type="text" id="rating-value" name="calificacion" class="sinborde">  </b></p>
                      </div>


                        <div class="form-group">
                            <button class="btn btn-success btn-block">Pagar </button>
                            <small>
                                <a href="/usuario/servicios-pagar">Cancelar</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    const stars=document.querySelector(".ratings").children;
    const ratingValue=document.querySelector("#rating-value");
    let fijo;
    let index;
    for(let i=0; i<stars.length; i++){
        stars[i].addEventListener("mouseover",function(){
           
           for(let j=0; j<stars.length; j++){
               stars[j].classList.remove("fas");
               stars[j].classList.remove("fa-star");
               stars[j].classList.add("far");
               stars[j].classList.add("fa-star");
           }

           for(let j=0; j<=i; j++){
               stars[j].classList.remove("far");
               stars[j].classList.remove("fa-star");
               stars[j].classList.add("fas");
               stars[j].classList.add("fa-star");
           }

        })

        stars[i].addEventListener("click",function(){
           
           
          ratingValue.value=i+1; 
          fijo=i; 
        })


     stars[i].addEventListener("mouseout",function(){
           
           for(let j=0; j<stars.length; j++){
               stars[j].classList.remove("fas");
               stars[j].classList.remove("fa-star");
               stars[j].classList.add("far");
               stars[j].classList.add("fa-star");
           }

           for(let j=0; j<=fijo; j++){
               stars[j].classList.remove("far");
               stars[j].classList.remove("fa-star");
               stars[j].classList.add("fas");
               stars[j].classList.add("fa-star");
           }

        })

    } 

</script>
