{{> navigationUser}}
{{#if success}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="=alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>  
    </div>
    {{/if}}
<div class="container p-4">
    <div class="row">
        
        {{#each trabajadores}}

        <div class="text-center">
            <img src={{trabajador_foto}} class="rounded mx-auto d-block " width="130" height="130"><br>
            <h3 class="card-title text-uppercase">{{trabajador_nombre}}</h3>
            <a href="/usuario/contratar-trabajador/{{id_trabajador}}/{{trabajador_nombre}}/{{nombre_labor}}/{{../servicio_descipcion}}" class="btn btn-success">Contratar</a>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <p class="m-2">Distancia: A {{Dist trabajador_latitud trabajador_longitud ../userUbication.usuario_latitud ../userUbication.usuario_longitud}} km's de ti<br> </p>
                    <p class="m-2">Califiación: <br> {{trabajador_puntaje}} ★</p>
                    <p class="m-2">Precio por hora: <br> {{precioxhora}}</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Por el momento no tenemos trabajadores que presenten ese servicio</p>
                <a href="/usuario/tipo-servicio">¡Selecciona otro!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{!DESCRIPCIÓN DEL TRABAJO}}
<input type="hidden" value="{{servicio_descipcion}}" name="servicio_descipcion">

{{!COORDENADAS DEL USUARIO}}
<input type="hidden" value="{{userUbication.usuario_latitud}}" id="usuario_latitud" name="usuario_latitud">
<input type="hidden" value="{{userUbication.usuario_longitud}}" id="usuario_longitud" name="usuario_longitud">

<script type="text/javascript">

    var latU = parseFloat(document.getElementById('usuario_latitud').value);
    var lonU = parseFloat(document.getElementById('usuario_longitud').value);

</script>